@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';
@import './lib/styles/variables.css';

*,
*::before,
*::after {
  font-family: inherit;
}

body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
